# LLM Relevance Score
OPENAI_API_KEY=changeme

# Backend API
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=your-secret-key-here
PORT=5000

# Neo4j
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=rabbithole

# Celery config
CELERY_BROKER_URL = "redis://localhost:6379/0"
CELERY_RESULT_BACKEND = "redis://localhost:6379/0"
